.button{
    background-color: #808080;
    color: white;
    border: 1px solid rgb(174, 179, 174);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 
    }
body{

    background-image: url("ff.jpg");
    
}

table{
 
    border-collapse: collapse;
    background-color: white;
    margin: 0 auto;

}
.center {
    margin-left: auto;
    margin-right: auto;
  }

td{
    padding: 0.5em;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#image{
    height: 200px; /* or whatever, equal to the image you want 'watermarked' */
    width: 200px; /* as above */
    background-image: url("bama.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
    position: absolute;
    top: 0; 
    left: 0; 
    opacity: 0.6;  
    color:white;
}

.button:hover{

    font-style: oblique;
    font-size: large;
    font-weight: bold;
    background-color: black;
}

#image:hover{
    background-image: url("gandalf.gif");
    height: 280px;
    width: 496px;
}